extends layout

block content
  h1 HOCO Fantasy Football 2016
  p.lead Your TDs Make My Ditka Hard
  hr
  .row
    .col-sm-6
      h2 Keepers
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Trading
      p COMING SOON...
      p
        a.btn.btn-default(href='#', role='button') View details »